<!DOCTYPE html>
<html>
    <head>
    <title>Flash message examples</title>
    <style>
        .success {color:green;}
        .error{color:red;}
    </style>
    </head>
    <body>
        <h2>Login Form</h2>
        {% with messages =get_flashed_messages(with_categories=true) %}
        {%if messages %}
        {%for category, message in messages %}
        <p class="{{category}}">{{message}}</p>
        {%endfor%}
        {%endif%}
        {%endwith%}
        <form action="/submit" method="POST">
            <label>Username:</label>
            <input type="text" name="username">
            <button type="submit">Login</button>
        </form>
    </body>

</html>
