<!DOCTYPE html>
<html>
    <head>
        <title>adding complaint</title>
    </head>
    <body>
        <h2>Add Customer Complaint</h2>
        <form method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <br>
            <div>
                <label for="id"> Customer id:</label>
                <input type="text" id="id" name="id" required>
            </div>
            <br>
            <div>
                <label for="type">Complaint Type</label>
                <select id="type" name="type" >
                <option value="Product Complaint"> Product Complaint</option>
                <br>
                <option value="Service Complaint">Service Complaint</option>
                </select>
                <br>
            </div>
            <br>
            <div>
        <label for="complaint">Complaint:</label><br>
        <textarea id="complaint" name="complaint" required></textarea>
    </div>
            <br>
            <button type="submit"> Submit</button>
        </form>
    </body>
</html>
